/* 
Color scheme

background color: #121212;
grey dots: #333333;
light grey font: #979797;
green: #56b07c;

playing colors:

blue: #0278ee;
orange: #ff913e;
pink: #dd0074;
green: #02ee78;
yellow: #e9e741;
purple: #b148f4;
*/


*{
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(90, 90, 90);
}

h1{
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

h2{
  font-weight: 100;
  letter-spacing: 3px;
}

h3{
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 22px;
}

p{
  font-size: 17px;;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  margin: 3% 33%;
  padding-bottom: 5%;
  border-radius: 20px;
  min-height: 80vh;
  min-width: 450px;
  max-width: 600px;
}

.setting-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  animation: fadeIn 1.5s;
  color:#4db277;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0;
}

.label-list{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}

input{
  margin-left: 35px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background:#45a26c;
  background-color: #c8c8c8;
  color: #a8a4a4;
  width: 20px;
  height: 20px;
  border: 3px solid #45a26c;
  box-shadow: 0 0 0 1px rgb(183, 183, 183)
  /* outline: 1px solid #999; */
  
}

input:checked{

  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #121212;
  background-color: #45a26c;
}

label{
  padding-left: 10px;
  font-size: 18px;
  color: #adadad;
}

.game-container{
  animation: fadeIn 2s;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  color: #979797;
  margin: 70px  0px 30px 0px;
  padding: 30px 0px;
  width: 100%;
}

.row-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Secret colors row */



.dot {
  height: 1px;
  width: 1px;
  padding: 25px;
  margin: 4px 4px;
  background-color: #3a3a3a;
  border-radius: 50%;
}

.dot-medium {
  height: 1px;
  width: 1px;
  padding: 22px;
  margin: 4px 4px;
  background-color: #232323;
  border-radius: 50%;
}

.dot-small{
  height: 1px;
  width: 1px;
  padding: 8px;
  margin: 2px;
  background-color: #2a2a2a;
  border-radius: 50%;
  display: inline-block;
}


.secret{
  height: 20px;
  width: 20px;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #40815b;
  color: #40815b;
  animation: flashingFadeIn 3s;
}

@keyframes flashingFadeIn {
  0% { opacity: 0; }
  10% { opacity: 0.2; }
  20% { opacity: 0.8; }
  30% { opacity: 0.2; }
  /* 40% { opacity: 0.8; }
  50% { opacity: 0.02; } */
  40% { opacity: 1; 
        box-shadow: 0px 0px 10px 5px rgb(205, 205, 205);}
  100% { opacity: 1; }
}


.question-mark{
  padding-left: 4px;
  font-size: 20px;
}


.colors-rows{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

/* Game rules / colors */

.game-comments{
  color: #56b07c;
  padding: 2px 10px 0 10px;
}

.colors-dot{
  height: 1px;
  width: 1px;
  padding: 7px;
  margin: 4px 4px;
  background-color: #3a3a3a;
  border-radius: 50%;
}

/* Attempts section */

.error-message{
  color: white;
  background-color: rgb(222, 0, 0);
  font-size: 16px;
  /* padding-top: 12px; */
  visibility: hidden;
}

/* .attempt-container{
  display: flex;
  display: inline-block; 
  padding-left: 40px;
} */

.attempts{
  color: #56b07c;
  font-size: 35px;
  margin: 4px 0 0 15px;
}

.attempt-row{
  display: flex;
  align-items: center;
  margin: 15px 0;
  /* border: #56b07c;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px; */
}

.btn{
}

.btn:hover {
  opacity: 0.6;
  cursor:pointer;
}

.generic-btn{
  background-color:#499267;
  color: white;
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 10px;
  margin-top: 80px;
}

.generic-btn:hover{
  background-color: #62c58b;
  cursor:pointer;
  border-radius: 10px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  zoom: 102%;
}

.attempt-btn{
  background-color:#499267;
  color: white;
  margin: 0 0 0px 20px;
  padding: 15px 18px;
  border-radius: 15%;
}

.attempt-btn:hover{
  background-color: #62c58b;;
  cursor:pointer;
  scale: 1.05;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.rule-btn{
  background-color:#333333;
  color: rgb(174, 174, 174);
  font-size: 16px;
  padding: 6px 30px;
  border-radius: 10px;
  margin-top: 20px;
  border-color: rgb(113, 113, 113);
  border-width: 1px;
  border-style: solid;
  
}

.rule-btn:hover{
  cursor:pointer;
  scale: 1.05;
  border-color: rgb(113, 113, 113);
  border-width: 1px;
  border-style: solid;
  background-color:#505050;
}


.attempt-history-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}



.each-attempt-history{
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-container{
  padding-left: 20px;
} 


.end-game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30% 15%;
  gap: 30px 0;
}

/* .end-game-container > h2{
  padding: 20px 0;
}  */



/* ****************** */


.purple{
  background-color: #933acb;
}

.yellow{
  background-color: #f3f05c;
}

.green{
  background-color: #22ca76;
}

.dark-green{
  background-color: #45a26c;
}

.pink{
  background-color: #dd0074;
}

.orange{
  background-color: #ff913e;
}

.blue{
  background-color: #0278ee;
}

.grey{
  background-color: #333333;
}

.white{
  background-color: rgb(221, 221, 221);
}

.hide{
  visibility: hidden;
}

.fadeInn{
  animation: fadeIn 1s;
}

.remove{
  display: none;
}

/* The Modal (background) */
.modal {
  margin: 0;
  display: none; 
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-bottom: 5%;
  border-radius: 20px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* Modal Content */
.modal-content {
  background-color: #121212;
  color: #499267;
  /* margin: auto; */
  margin: 7% 33%;
  min-height: 50%;
  padding: 20px 20px;
  border: 1px solid #333333;
  border-radius: 20px;
  min-width: 420px;
  max-width: 570px;
}

/* The Close Button */
.close {
  color: #7c7c7c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(189, 189, 189);
  text-decoration: none;
  cursor: pointer;
  zoom: 1.2;
}




/* *********************** */

#timer {
  margin: 5px 0 0 30px;
  color: #56b07c;
  font-size: 35px;
  font-weight: bold;
}

/* window.scroll({
  top: 100,
  left: 100,
  behavior: "smooth",
}); */


.rules-modal-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #499267;
  margin: 3% 33%;
  padding: 40px 30px;
  border: 1px solid #333333;
  border-radius: 20px;

  max-height: 80vh;
  min-width: 450px;
  max-width: 600px;
}

.rules-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;
  overflow:auto;
  max-height: 70vh;
  padding: 0 10px;
}

div.rules-container > p{
  color: #aaaaaa;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.rules-modal-content > button{
  margin-top: 30px;
}

div.rules-modal-content > h1{
  padding-bottom: 30px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b2b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646464;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.attempt-num{
color: #333333;
font-size: 40px;
padding-right: 10px;
min-width: 15px;
}